*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(255, 116, 0);
    height: 70px;
}

nav img {
    margin: 14px 0 0 60px;
}

#logo {
    color: white;
    position: absolute;
    top: 23px;
    left: 102px;
    font-size: 28px;   
}

#logo sup {
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 10px;
}

nav > ul {
    float: right;
}

nav > ul > li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 25px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
}

form {
    float: right;
    margin-right: 40px;
    margin-top: 4px;
}

form input {
    border: none;
    background-color: rgb(239, 239, 239);
    width: 200px;
    height: 40px;
    margin-right: 30px;
    font-size: 12px;
    color: darkgray;
    padding-left: 20px;   
}

form i {
    color: darkgrey;
    position: absolute;
    top: 85px;
    right: 85px;   
}

.bodyimg {
    margin-top:100px;
    margin-left: 100px;
} 

.textarea {
    float: right;
    width: 45%;
    position: relative;
    top: -330px;
    right: 40px;
    margin: 0;
}

.textarea p {
    color: orange;
    font-size: 53px;
}

.textarea sup {
    font-size: 10px;
    font-weight: bold;
}

.webapp {
    color: rgb(87, 208, 203);
    font-weight: bold;
}

p i {
font-family: Palatino;
}


.buttons {
    text-align: center;
    width : 50%;
    float: right;
    clear: right;
    position: relative;
    top: -270px;   
}

#orng {
    background-color: rgb(255, 116, 0);
    color: white;
    width: 270px;
    height: 60px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    right: 40px;
    cursor: pointer;
}

#blue {
    background-color: rgb(87, 208, 203);
    color: white;
    width: 270px;
    height: 60px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

footer {
    height: 70px;
    background-color: rgb(87, 208, 203);
    margin-top: 100px;
}


@media (max-width: 1250px) {
    .bodyimg {
        width: 400px;
    }

    .textarea p{
        font-size: 40px;
        padding-top: 50px;
    }

    #orng, #blue {
        width: 190px;
    }
}

@media (max-width: 960px) {
    .textarea p {
    font-size: 30px;
    }

    .textarea {
        left: 35px;
    }

    #orng, #blue {
        width: 120px;
        font-size: 12px;
        height: 45px;
    }

    .buttons {
        left: 20px;
    }

    nav ul li {
        margin-right: 20px;
    }

}

@media (max-width: 862px) {
    nav ul li {
        margin-right: 10px;
        margin-left: 30px;
    }

    #logo {
        display: none;
    }

    nav ul {
        float: left;
    }

    .textarea {
        width: 80%;
        margin: 20px auto;
        float: none;
    }

    nav ul li {
        margin-right: 7px;
        margin-left: 20px;
    }

    body {
        background-image: url(../img/orangecopy.png);
        background-repeat: no-repeat;
        background-size: cover;
        background: : 1;
        text-align: center;
    }

    .bodyimg {
        visibility: hidden;
        margin-left: 0;
    }

    .textarea p {
        font-size: 50px;
    }

    .buttons {
        float: none;
        width: 80%;
        margin: 10px auto;
    }

    #orng, #blue {
        width: 250px;
        height: 50px;
        font-size: 15px;
    }

    form {
        float: none;
        width: 90%;
        margin: 20px auto;
    }

    form input {
        width: 90%;
    }

    form i {
        right: 120px;
        top: 100px;
    }
}

@media (max-width: 711px) {
    nav ul li {
        margin-right: 7px;
        margin-left: 5px;
    }

    nav li a {
        font-size: 13px;
        padding: 5px;
    }

    nav img {
        width: 60px;
        float: right;
        margin-right: 10px;
        margin-top: 7px;
    }

    .textarea p {
        font-size: 40px;
    }

    .buttons {
        margin-top: 100px;
    }
}

@media (max-width: 635px) {
    .buttons {
        width: 100%;
        margin: 100px auto;
        text-align: center;
    }

    #orng, #blue {
        width: 60%;
        margin: 20px auto;
    }

    #orng {
        left: -20px;
    }

    #blue {
        left: -20px;
    }

    .textarea p {
        padding-right: 40px;
        font-size: 38px;
    }


}

@media (max-width: 521px) {
    footer {
        width: 100%;
    }

    .textarea p{
        font-size: 30px;
        margin: 10px auto;
    }

    .textarea {
        top: -400px;
    }

    .buttons {
        top: -400px;
    }

    nav li a {
        font-size: 13px;
        padding: 5px;
        font-size: 10px;
    }
}

@media (max-width: 459px) {
    nav img {
        display: none;
    }

    nav {
        height: 250px;
        text-align: center;
        height: 250px;
    }

    nav ul {
        width: 80%;
        margin: 0 auto;
        margin-left: 45px;
    }

    nav ul li {
        display: block;
    }

    form i {
        right: 110px;
        top: 100px;
    }

    nav ul li {
        margin-right: 4px;
        margin-left: 4px;
    }

    form .fa {
        display: none;
    }

    form input {
        width: 95%;
    }

    .bodyimg {
        width: 350px;
    }
}





