*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(255, 116, 0);
    height: 70px;
}

nav img {
    margin: 14px 0 0 60px;
}

#logo {
    color: white;
    position: absolute;
    top: 23px;
    left: 102px;
    font-size: 28px;   
}

#logo sup {
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 10px;
}

nav > ul {
    float: right;
}

nav > ul > li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 25px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
}

form {
    float: right;
    margin-right: 40px;
    margin-top: 4px;
}

form input {
    border: none;
    background-color: rgb(239, 239, 239);
    width: 200px;
    height: 40px;
    margin-right: 30px;
    font-size: 12px;
    color: darkgray;
    padding-left: 20px;   
}

form i {
    color: darkgrey;
    position: absolute;
    top: 85px;
    right: 85px;   
}

.bodyimg {
    margin-top:100px;
    margin-left: 100px;
} 

.textarea {
    float: right;
    width: 45%;
    position: relative;
    top: -330px;
    right: 40px;
    margin: 0;
}

.textarea p {
    color: orange;
    font-size: 53px;
}

.textarea sup {
    font-size: 10px;
    font-weight: bold;
}

.webapp {
    color: rgb(87, 208, 203);
    font-weight: bold;
}

p i {
font-family: Palatino;
}


.buttons {
    text-align: center;
    width : 50%;
    float: right;
    clear: right;
    position: relative;
    top: -270px;   
}

#orng {
    background-color: rgb(255, 116, 0);
    color: white;
    width: 270px;
    height: 60px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    right: 40px;
    cursor: pointer;
}

#blue {
    background-color: rgb(87, 208, 203);
    color: white;
    width: 270px;
    height: 60px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

footer {
    height: 70px;
    background-color: rgb(87, 208, 203);
    margin-top: 100px;
}





